/* 노말라이즈 시작 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
li,
ol {
  list-style: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-fd-c {
  flex-direction: column;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-fw-w {
  flex-wrap: wrap;
}

.ta-c {
  text-align: center;
}

.po-rel {
  position: relative;
}

.po-abs {
  position: absolute;
}

.with-100 {
  width: 100%;
}

.t-l-0 {
  top: 0;
  left: 0;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
.logo {
  margin: 10px;
  width: 144px;
}

.logo>img {
  width: inherit;
}

#nav {
  position: fixed;
  width: 390px;
  background-color: #0079C2;
  transition: .5s;

  /* border-top: 10px solid #00B185;
  border-bottom: 10px solid #00B185; */
  
  z-index: 10;
}

.moveNav {
  
  /* left: -390px; */
  transform: translate(-390px, 0);
}

.BottomBar3 {
  overflow: hidden;
}

.BottomBarItem {
  background-color: #0079C2;
}

.BottomBarItem:hover {
  cursor: pointer;
  background-color: #0471b3;
}

.BottomBarItem.lite-green {
  background-color: #00B185;
}

.BottomBarItem.lite-green:hover {
  background-color: #04a980;
  cursor: pointer;
}

.navlogo_green {
  width: 140px;
  margin: 5px 10px;
}

.map-wrap {
  position: relative;
  /* margin-left: 390px; */
  height: 100%;
  width: 100%;
  /* width: calc(100vw - 390px); */
  transition: .5s;
}

#map {
  outline: none;
  z-index: 0;
  top: 0;
}

.w-inp {
  width: 240px;
  left: 25px;
  top: 12px;
  position: absolute;
  color: "rgba(0, 0, 0, 0.60)";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  border: none;
}

.w-inp:focus {
  outline: none;
}

.w-inp:focus .w-inp-box {
  background-color: #00B185;
}


/* 키프레임 이름 = 애니메이션 이름 */
@keyframes jump {
  0% {
    bottom: 58%;
  }

  95% {
    width: 70px;
  }

  to {
    bottom: 50%;
    width: 73px;
    height: 70px;
  }
}

#chatbot-wrap {
  position: fixed;
  width: 90px;
  height: 90px;
  right: 20px;
  bottom: 25px;
  z-index: 100;
  background-color: #145b95;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#chatbot-wrap:hover {
  background-color: #0e436e;
}

#chatbot {
  position: absolute;
  align-items: center;
  width: 70px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  animation: jump .9s ease-in Infinite Alternate;
}

.cursor-pointer {
  cursor: pointer;
}

.cnEwCe {
  position: absolute;
  width: 22px;
  height: 49px;
  
  top: 100%;
  left: 100%;
  /* left: 0; */
  z-index: 100;
  background-size: 428px 403px;
  background-color: #fff;
  font-size: 1px;
  line-height: 1px;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.blind {
  font-size: 18px;
  /* overflow: hidden !important; */
  position: absolute !important;
  top: 22px;
  left: 5px;
  color: #959595;
}

.empty-contents {
  text-align: center;
  display: block;
  padding-top: 62px;
  line-height: 26px;
  color: #000;
  letter-spacing: -1px;
}

.load-view {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

/* 커스텀 끝 */